@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

html{
  font-size: 10px;
}

body{
  background-color: #273347;
}

header{
  padding-top: 1rem;
}

div{
  color: white;
  width: 75%;
  min-width: 30rem;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #070A17;
}

main,
header{
  font-size: 1.4rem;
}

footer {
  font-size: 1rem;
  font-style: italic;
}

footer p {
  line-height: .5;
}

section, header, footer {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;

}

p,
li {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
}

h1{
  margin-bottom: 0;
}

h1+p{
    font-style: italic;
    margin-top: 0.5rem;
    font-size: 1.8rem;
}

h2~p {
    font-style: italic;
    size: 1.7rem;
}

section:first-child{
  font-style: italic;
}

section:nth-child(2){
  max-width: 85rem;
  min-width: 25rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); /* used this to figure out how to do auto-fitting columns: https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/)*/
  column-gap: 10px;
}

article{
  min-width: 20rem;
}


img, source{
  width: 100%;
}

li {
  margin-bottom: .5rem;
}

li:hover {
  color: #f9ad3d;
}

ol li::first-letter{
  font-size: 1.6rem;
}

[href]{
  color: #f9ad3d;
}

[href]:hover{
  color: #c66e25;
}

ul{
  list-style-type: none;
  color: white;
  margin-left: 0;
}

ul+p{
  font-size: 2rem;
}

:checked+span{
  color: gray;
}

[type=checkbox]{
  margin-right: 1rem;
}
